.card img{
   width: 100px;
   height: auto;
   border-radius: 70px;
   border: 7px solid white;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 192, 130);
    align-items: center;
    padding: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}
.title{
    font-size: 15px;
}